<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../styles/carousel.css" media="screen" />
  <title>Document</title>
</head>
<body>
  <section class="carousel">
    <div class="carousel__container">

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/aurora.jpeg" alt="Bella Durmiente"/>
        <div class="carousel-item__details">
          <div>
            <img src="../images/icons/play.png" alt="play"/>
            <img src="../images/icons/plus.png" alt="plus"/>
          </div>
          <p class="carousel-item__title">La Bella Durmiente</p>
          <p class="carousel-item__subtitle">Aurora</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/belle.jpeg" alt="Bella"/>
        <div class="carousel-item__details">
          <div>
            <img src="../images/icons/play.png" alt="play"/>
            <img src="../images/icons/plus.png" alt="plus"/>
          </div>
          <p class="carousel-item__title">La Bella y la Bestia</p>
          <p class="carousel-item__subtitle">Bella</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/cinderella.jpg" alt="Cenicienta"/>
        <div class="carousel-item__details">
          <div>
            <img src="../images/icons/play.png" alt="play"/>
            <img src="../images/icons/plus.png" alt="plus"/>
          </div>
          <p class="carousel-item__title">Cenicienta</p>
          <p class="carousel-item__subtitle">Cinder</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/Rapunzel.png" alt="Rapunzel"/>
        <div class="carousel-item__details">
          <div>
            <img src="../images/icons/play.png" alt="play"/>
            <img src="../images/icons/plus.png" alt="plus"/>
          </div>
          <p class="carousel-item__title">Enredados</p>
          <p class="carousel-item__subtitle">Rapunzel</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/jazmin.jpg" alt="Bella"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">Aladdin</p>
            <p class="carousel-item__subtitle">Jazmín</p>
          </div>
        </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/merida.jpg" alt="Merida"/>
        <div class="carousel-item__details">
          <div>
            <img src="../images/icons/play.png" alt="play"/>
            <img src="../images/icons/plus.png" alt="plus"/>
          </div>
          <p class="carousel-item__title">Valiente</p>
          <p class="carousel-item__subtitle">Merida</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/mulan.jpeg" alt="Mulan"/>
        <div class="carousel-item__details">
          <div>
            <img src="../images/icons/play.png" alt="play"/>
            <img src="../images/icons/plus.png" alt="plus"/>
          </div>
          <p class="carousel-item__title">Mulan</p>
          <p class="carousel-item__subtitle">Mulan</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/tiana.jpg" alt="Tiana"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">La Princesa y el sapo</p>
            <p class="carousel-item__subtitle">Tiana</p>
          </div>
      </div>

      <div class="carousel-item">
          <img class="carousel-item__img" src="../images/princesas/snow-white.jpg" alt="Blancanieves"/>
            <div class="carousel-item__details">
              <div>
                <img src="../images/icons/play.png" alt="play"/>
                <img src="../images/icons/plus.png" alt="plus"/>
              </div>
              <p class="carousel-item__title">Snow White</p>
              <p class="carousel-item__subtitle">Blancanieves</p>
            </div>
        </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../images/princesas/the-little-mermaid.jpg" alt="Ariel"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">La sirenita</p>
            <p class="carousel-item__subtitle">Ariel</p>
        </div>
      </div>
    </div>
  </section>

  <section class="carousel">
      <div class="carousel__container">

        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/Beagle.jpg" alt="Beagle"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">Beagle</p>
            <p class="carousel-item__subtitle">Beagle</p>
          </div>
        </div>
  
        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/golden.jpeg" alt="Labrador Golden Retriever"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">Labrador Golden Retriever</p>
            <p class="carousel-item__subtitle">Labrador Golden Retriever</p>
          </div>
        </div>
  
        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/pastor-aleman.jpg" alt="Pastor Aleman"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">Pastor Aleman</p>
            <p class="carousel-item__subtitle">Pastor Aleman</p>
          </div>
        </div>
  
        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/pastor-belga.jpeg" alt="Pastor Belga"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">Pastor Belga</p>
            <p class="carousel-item__subtitle">Pastor Belga</p>
          </div>
        </div>
  
        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/pastor-ingles.jpg" alt="Pastor Inglés"/>
            <div class="carousel-item__details">
              <div>
                <img src="../images/icons/play.png" alt="play"/>
                <img src="../images/icons/plus.png" alt="plus"/>
              </div>
              <p class="carousel-item__title">Pastor Inglés</p>
              <p class="carousel-item__subtitle">Pastor Inglés</p>
            </div>
          </div>

        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/pitbull-americano.jpg" alt="American Pitbull"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">American Pitbull</p>
            <p class="carousel-item__subtitle">American Pitbull</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/poodle.jpeg" alt="French Poodle"/>
          <div class="carousel-item__details">
            <div>
              <img src="../images/icons/play.png" alt="play"/>
              <img src="../images/icons/plus.png" alt="plus"/>
            </div>
            <p class="carousel-item__title">French Poodle</p>
            <p class="carousel-item__subtitle">French Poodle</p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/pug.jpg" alt="Pug"/>
            <div class="carousel-item__details">
              <div>
                <img src="../images/icons/play.png" alt="play"/>
                <img src="../images/icons/plus.png" alt="plus"/>
              </div>
              <p class="carousel-item__title">Pug</p>
              <p class="carousel-item__subtitle">Pug</p>
            </div>
        </div>
  
        <div class="carousel-item">
            <img class="carousel-item__img" src="../images/Perros/rottweiler.jpg" alt="Rottweiler"/>
              <div class="carousel-item__details">
                <div>
                  <img src="../images/icons/play.png" alt="play"/>
                  <img src="../images/icons/plus.png" alt="plus"/>
                </div>
                <p class="carousel-item__title">Rottweiler</p>
                <p class="carousel-item__subtitle">Rottweiler</p>
              </div>
          </div>
  
        <div class="carousel-item">
          <img class="carousel-item__img" src="../images/Perros/schnauzer.jpg" alt="Schnauzer"/>
            <div class="carousel-item__details">
              <div>
                <img src="../images/icons/play.png" alt="play"/>
                <img src="../images/icons/plus.png" alt="plus"/>
              </div>
              <p class="carousel-item__title">Schnauzer</p>
              <p class="carousel-item__subtitle">Schnauzer</p>
          </div>
        </div>
      </div>
    </section>

</body>
</html>