<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../styles/layout-flexbox.css" media="screen" />
  <title>Document</title>
</head>
<body>
  <header class="header">
    <ul class="menu">
      <li class="menu-item">Home</li>
      <li class="menu-item">Gallery</li>
      <li class="menu-item">About</li>
      <li class="menu-item">Contact
      </li>
    </ul>
  </header>
  <section class="content">
    <section class="container">
      i'm a container
    </section>
    <aside class="aside">
      i'm an aside
    </aside>
  </section>
  <footer class="footer">
    footer
  </footer>
</body>
</html>